<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stripe" class="example.config.StripeGateway" lazy-init="true">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="paypal" class="example.config.PaypalGateway" lazy-init="true">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="stripe-service" class="example.config.PaymentService" lazy-init="true">
        <constructor-arg ref="stripe"/>
    </bean>

    <bean id="paypal-service" class="example.config.PaymentService" lazy-init="true">
        <constructor-arg ref="paypal"/>
        <!-- property name="paymentGateway" ref="paypal"/ -->
    </bean>

</beans>
